{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Olá, eu sou Rafael Abelha</h1>

<p>
    Tenho 17 anos e estou cursando o terceiro ano do ensino médio no Cotemig.
    Sou curioso, gosto de aprender coisas novas e estou sempre explorando o mundo da tecnologia.
</p>

<h2>O que eu gosto de fazer</h2>
<p>
    Música é a minha grande paixão. Gosto de ouvir, descobrir novos artistas e deixar o som
    fazer parte do meu dia a dia. Além disso, gosto de estudar tecnologia e me dedicar
    aos projetos do colégio.
</p>
{% endblock %}
